<script setup lang="ts">
import { useUserStore } from "../../stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const useStore = useUserStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    useStore.saveUser();
  }
};

const clear = () => {
  useStore.dialog = false;
  useStore.clear();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="useStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Login*"
                    v-model="useStore.edited.login"
                    :rules="[
                      (v) => !!v || 'Login is not emty',
                      (v) =>
                        (v && v.length > 4) ||
                        'Login must be more than 4 characters',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name"
                    v-model="useStore.edited.name"
                    :rules="[
                      (v) => !!v || 'Name is not emty',
                      (v) =>
                        (v && v.length > 4) ||
                        'Name must be more than 4 characters',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password*"
                    type="password"
                    v-model="useStore.edited.password"
                    :rules="[
                      (v) => !!v || 'Password is not emty',
                      (v) =>
                        (v && v.length > 7) ||
                        'Password must be more than 7 characters',
                      (v) =>
                        /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/.test(
                          v
                        ) ||
                        'Password จะต้องมี ตัวอักษรพิมพ์เล็ก ตัวอักษรพิมพ์ใหญ่ ตัวเลข และอักษรพิเศษ',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col>
                  {{ useStore.edited }}
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear()">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
