<script setup lang="ts">
import UserList from "./UserList.vue";
import UserDialog from "./UserDialog.vue";
import UserCardList from "./UserCardList.vue";
import { useUserStore } from "../../stores/user";
import { mdiTable, mdiCardOutline } from "@mdi/js";
const useStore = useUserStore();
</script>
<template>
  <v-container>
    <UserList v-if="useStore.isTable"></UserList>
    <UserCardList v-if="!useStore.isTable"></UserCardList>
    <UserDialog></UserDialog>

    <v-row class="justify-center">
      <v-btn :icon="mdiTable" flat @click="useStore.isTable = true"></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        flat
        @click="useStore.isTable = false"
      ></v-btn>
    </v-row>
  </v-container>
</template>
<style scoped></style>
